.candidate-app {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.candidate-app .head {
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
}

.candidate-app p {
  margin-top: 5px;
  font-size: large;
}

.apply-button {
  background-color: red;
  color: white;
  padding: 3px;
  margin-top: 5px;
  width: 200px;
}

.apply-button.not-valid {
  background-color: grey;
}

.candidate-app .in {
  display: flex;
  flex-direction: row;
  width: 450px;
  margin-top: 6px;
}

.error label {
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
  color: rgb(120, 120, 208);
  font-weight: bolder;
}

.error {
  text-align: center;
  margin-top: 180px;
}
