.form {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 2px solid red;
  padding-left: 15px;
  padding-right: 15px;
}

.form label {
  margin-top: auto;
  margin-bottom: auto;
  font-size: x-large;
}

.ticket {
  margin-left: 80px;
  width: 80%;
  text-align: center;
}

.white {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.white p{
  margin: 0;
  padding: 0;
  color: aqua;
}

.form button {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover {
  background-color: #7f0505;
}
